https://www.analyticsvidhya.com/blog/2017/10/comprehensive-tutorial-learn-data-science-julia-from-scratch/
https://github.com/bkamins/Julia-DataFrames-Tutorial

## Basic Math Operations

In [2]:
4 + 5 ## Addition

9

In [3]:
3 ^ 4 ## Exponent

81

In [4]:
91/2 ## Division

45.5

## Vector Operations

In [5]:
A = [10,20,30]

3-element Array{Int64,1}:
 10
 20
 30

In [6]:
A[1]

10

In [7]:
A = [10; 20; 30]

3-element Array{Int64,1}:
 10
 20
 30

In [8]:
A[1]=199
A

3-element Array{Int64,1}:
 199
  20
  30

## Matrix Operations

In [22]:
M = [1 2 3; 4 5 6; 7 8 9]

3×3 Array{Int64,2}:
 1  2  3
 4  5  6
 7  8  9

In [23]:
M[1,2]=3663

3663

In [24]:
M'

3×3 LinearAlgebra.Adjoint{Int64,Array{Int64,2}}:
    1  4  7
 3663  5  8
    3  6  9

In [26]:
inv(M)

3×3 Array{Float64,2}:
 -0.000136575  -1.49973       0.999863
  0.000273149  -0.000546299   0.000273149
 -0.000136575   1.16694      -0.666803

## Dictionaries

In [28]:
D = Dict("name" => "Analytics Vidhya", "Year" => 2017) # Create a dictionary

Dict{String,Any} with 2 entries:
  "name" => "Analytics Vidhya"
  "Year" => 2017

In [29]:
D["Year"]

2017

In [30]:
D["name"]

"Analytics Vidhya"

In [31]:
D.count

2

## Strings

In [36]:
text = "Some String"
println(text[1])
println(length(text))

S
11

In [37]:
text[2:7]

"ome St"

In [41]:
text[1] = "H"

MethodError: MethodError: no method matching setindex!(::String, ::String, ::Int64)

Strings are immutable in Julia

## Loops, Conditionals in Julia

In [63]:
fact=1
println(1:1:5)
for i in 1:1:5
    fact=fact*i
end
print(fact)

1:1:5
120

In [64]:
N = 1
if N >= 0
    print("N is positive")
else
    print("N is negative")
end

N is positive

## DataFrames

In [ ]:
using DataFrames, Random

In [112]:
DataFrame()

0×0 DataFrame

In [113]:
DataFrame(A=1:3, B=rand(3), C=randstring.([3,3,3]))

3×3 DataFrame
│ Row │ A     │ B        │ C      │
│     │ Int64 │ Float64  │ String │
├─────┼───────┼──────────┼────────┤
│ 1   │ 1     │ 0.779729 │ 5X4    │
│ 2   │ 2     │ 0.569908 │ Slx    │
│ 3   │ 3     │ 0.302336 │ MbB    │

In [114]:
x = Dict("A" => [1,2], "B" => [true, false], "C" => ['a', 'b'])
DataFrame(x)

2×3 DataFrame
│ Row │ A     │ B    │ C    │
│     │ Int64 │ Bool │ Char │
├─────┼───────┼──────┼──────┤
│ 1   │ 1     │ 1    │ 'a'  │
│ 2   │ 2     │ 0    │ 'b'  │

In [126]:
using CSV

ArgumentError: ArgumentError: Package CSV not found in current path:
- Run `import Pkg; Pkg.add("CSV")` to install the CSV package.

UndefVarError: UndefVarError: CSV not defined